/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    line-height: 1.5;
    background-color: var(--clr4);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Начало основных стилей */

/* Переменные для цвета*/
:root {
    --clr1: #A2BBBA;
    --clr2: #88ABA8;
    --clr3: #5B8B89;
    --clr4: #407B79;
    --clr5: rgb(8, 41, 43);
}

.body {
    background-color: var(--clr4);
}
.new-body {
    background-color: var(--clr1);
}
/* Стили для кнопки смены языка */
.lang-btn {
    font-size: 18px;
    color: var(--clr5);
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    cursor: pointer;
    border: 1px solid;
    border-radius: 50px;
    color: var(--clr5);
    background-color: var(--clr2);
    width: 210px;
    height: 35px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.lang-btn:hover {
    background-color: var(--clr1);
}

/* Стили для main */
.main {
    flex: 1 0 auto;
    /*background-color: var(--clr4);*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

/* Анимация и стили для картинки */
.img {
    width: 350px;
    margin-top: 70px;
    padding-left: 40px;
}

.img.img-animation {
    animation: bounce 0.5s;
}

@keyframes bounce {
    10% {
        transform: translateY(0%);
    }

    20% {
        transform: translateY(-15%);
    }

    30% {
        transform: translateY(0%);
    }

    35% {
        transform: translateY(-7%);
    }

    37% {
        transform: translateY(0%);
    }

    45% {
        transform: translateY(-3%);
    }

    50% {
        transform: translateY(0);
    }
}

/* Стили для кнопки смены цитат */
.button {
    cursor: pointer;
    margin-top: 50px;
    min-width: 350px;
    min-height: 50px;
    background-color: var(--clr2);
    border-radius: 50px;
    border: 2px solid var(--clr5);
    color: var(--clr5);
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
}

.button:active {
    background-color: var(--clr1);
}

.button:hover {
    background-color: var(--clr1);
}

/* Стили для контейнера цитат */
.quote {
    margin-top: 50px;
    padding: 25px;
    background-color: var(--clr5);
    border: 3px solid var(--clr2);
    color: var(--clr1);
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    max-width: 1100px;
}

/* Стили для footer */
.footer {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--clr3);
    padding: 15px 0 10px;
}

.rsschool {
    margin: 0;
    width: 65px;
}

.rsschool-icon {
    fill: var(--clr5);
}

.rsschool-icon:hover {
    fill: var(--clr1);
}

.date {
    font-size: 19px;
    font-weight: 600;
    align-self: flex-end;
    margin: 0;
    color: rgb(8, 41, 43);
    font-family: 'Montserrat Alternates', sans-serif;
}

.github_link {
    fill: var(--clr5);
}

.github_link:hover {
    fill: var(--clr1);
}